body{
  font-family: 'Montserrat', sans-serif;
}

/* Name From Rew */
em{
  font-weight: 300;
  font-size: 0.9rem;
}

#aboutWeb, #reviews, #registration, #foot{
  text-align: center;
}






#title{
  background-color: #f8b500;
}



.rght-cl{
  padding: 0px;
  position: relative;
}

.big-title{
  font-family: 'Oswald-bold', sans-serif;
  font-weight: 1000;
  font-size: 3.6rem;
  margin: 30% 0 0 2%;
  color: #393e46;
}

/* Адаптивность 1ой секции(титул) */
@media (max-width: 990px)  {
  .big-title{
    margin-top: 10%;
    font-size: 2.9rem;
    font-weight: 800;
  }
  .about-h2{
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 9%;
  }
}

@media (min-width: 1005px) and (max-width: 1330px){
  .big-title{
    margin-top: 18%;
    font-size: 2.8rem;
  }
  .title-descr{
    line-height: 1.3;
    font-size: 0.5rem;
    padding-top: 6%;
  }

}

@media (min-width: 990px) and (max-width: 1005px){
  .big-title{
    margin-top: 13%;
    font-size: 2.4rem;
  }
  .title-descr{
    line-height: 1;
    font-size: 0.3rem;
    padding-top: 5%;
  }
  .registr{
    top: 12%;
    left: 14%;
  }
}

.title-descr{
  font-weight: 200;
  line-height: 1.7;
  font-size: 1.2rem;
  padding-top: 8%;
  text-align: center;
}

.navbar{
  background-color: #5c636e;
  font-size: 1.1rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  margin-left: 3%;
}

.title-img{
  width: 100%;
}


.nav-item{
  padding: 9px 20px;
}

.title-txt{
  text-align: center;
}







/* Section About Webinar */

#aboutWeb{
  background-color:  #f7f7f7;
  padding: 7%;
}

.fas{
  margin-bottom: 17px;
  color: #f8b500;
}

.fas:hover{
  color: #fb9224;
}

.about-h2{
  font-weight: 800;
  font-size: 2.6rem;
  margin-bottom: 8%;
}

/* Адаптивность 2-ой секции(о вебинаре) */

@media (max-width: 700px){
  .about-h2{
    font-weight: 800;
    font-size: 1.9rem;
    margin-bottom: 8%;
  }
}
.about-h3{
  font-size: 1.35rem;
  font-weight: 700;
}

.abBigParts{
  padding: 0 8%;
}

@media (max-width: 990px)  {
  .abBigParts{
    padding-top: 7%;
    padding-bottom: 5%;
  }
}





/* Reviews Section */

#reviews{
  background-color: #5c636e;
  color: white;
}

.testimonial-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  font-variant: normal;
}

.review-img{
  border-radius: 100%;
  width: 10%;
  margin: 22px;
}

/* Buttons in Carousel */
 .carousel-item{
    padding: 7% 15%;
 }


/* Адаптивность 3-ей секции*(отзывы) */
 @media (max-width: 1470px){
   .testimonial-text{
     font-weight: 600;
     font-size: 2.7rem;
     line-height: 1.3;
     font-variant: normal;
   }

   .review-img{
     border-radius: 100%;
     width: 15%;
     margin: 22px;
   }
 }

 @media (max-width: 800px){
   .testimonial-text{
     font-weight: 600;
     font-size: 2rem;
     line-height: 1.2;
     font-variant: normal;
   }

   .review-img{
     border-radius: 100%;
     width: 23%;
     margin: 22px;
   }

   em{
     font-weight: 200;
     font-size: 0.7rem;
   }
 }




 /* Registration section */

 #registration{
   background-color: #f8b500;
   padding: 7% 4%;
 }

/* Адаптировать..... */
.regCol{
  text-align: center;
}

.btn{
   font-size: 1.5rem;
   background-color: #393e46;
   margin-top: 3%;
 }

 /* Адаптировнность кнопки и заноловка*/
@media (max-width: 990px){
  .btn{
     font-size: 1rem;
     background-color: #393e46;
     width: 30%;
   }
}

@media (max-width: 760px){
  .btn{
     font-size: 0.6rem;
     background-color: #393e46;
     width: 50%;
   }
  .regTitle{
    padding: 2%;
    font-size: 1.7rem;
    font-weight: 800;
  }
}

.regTitle{
   padding: 3%;
   font-size: 2.6rem;
   font-weight: 800;
   color: #393e46;
 }

@media (min-width: 1400px;){
  .regTitle{
    padding: 4%;
    font-size: 3rem;
    font-weight: 800;
  }
}
@media (max-width: 990px){
  .regTitle{
    padding: 2%;
    font-size: 1.8rem;
    font-weight: 800;
  }
}

.low-form{
  margin: 2%;
  display: inline-block;
  width: 60%;
}




/* Footer Section */
#foot{
  background-color: #393e46;
  color: #fff;
  padding: 2% 3%;
}

.companyName{
  color: #5c636e;
  font-size: 1rem;
  padding: 1% 2% 0 2%;
}

.icons{
  color: #f8b500;
  padding: 20px;
}

.icons:hover{
  color: #fb9224;
}
